{{> phone-rows}}

{{#if phonebook.length}}
<p class="tip">Нажмите на строку для редактирования или удаления контакта</p>
{{/if}}

<div class="button-group">
  <a href="/add" class="add-button">Добавить</a>
</div> 